django==2.2.23

django-anymail==6.0.1
django-extensions==2.1.7
django-fancy-cache==0.11.0
django-localflavor==2.2
django-material==1.5.6
django-model-utils==3.1.2
django-structlog==1.2.3

git+https://github.com/mgaitan/django-exportable-admin.git@dj21
